<div class="popup" id="popup">
    <div class="popup__content">
        <div class="popup__left">
            <img src="assets/img/drumetii-1.jpg" alt="Tour photo" class="popup__img">
            <img src="assets/img/drumetii-1-2.jpg" alt="Tour photo" class="popup__img">
        </div>
        <div class="popup__right">
            <a href="#section-tours" class="popup__close">&times;</a>
            <h2 class="heading-secondary heading-secondary-popup u-margin-bottom-small">Aventura prin muntii Grohotis</h2>
            <h3 class="heading-tertiary ">ITINERARIU:</h3>
            <p class="popup__text">
                
                05:45 ne întâlnim la Hotel Horoscop - Piața Unirii. 06:00 se învârte roata pe ruta București - Ploiești - Cheia - Pasul Bratocea. Prima parte a traseului ne poartă prin pădure, timp de aproximativ o oră, apoi vom ieși în gol alpin unde peisajele golașe ni se vor deschide înaintea ochilor!
                Vom avea ocazia de a admira culmile armonioase ale Ciucașului, în depărtare Piatra Mare, Postăvaru, Bucegi, Neamțului etc.Vom ajunge și la vârful cel mai înalt, vârful Grohotiș (1768 m) după aprox 2:30 - 3 h de la ieșirea din pădure. Ne vom întoarce pe același traseu spectaculos.
            </p>
            <h3 class="heading-tertiary">ECHIPAMENT:</h3>
            <p class="popup__text">Bocanci de munte, Masca sanitara pt autocar, Pantaloni drumeție/colanți, Pelerină de ploaie, Protecție solară, Șapcă/buff pentru soare, Tricou/șosete de schimb, Trusă medicală proprie, Ne vom lua la noi 2 l apă și mâncare pentru traseu.
            </p>
            <a href="#" class="btn btn--green">Ma inscriu!</a>
        </div>
    </div>
</div>
<div class="popup" id="popup-2">
    <div class="popup__content">
        <div class="popup__left">
            <img src="assets/img/drumetii-2.jpg" alt="Tour photo" class="popup__img">
            <img src="assets/img/drumetii-2-2.jpg" alt="Tour photo" class="popup__img">
        </div>
        <div class="popup__right">
            <a href="#section-tours" class="popup__close">&times;</a>
            <h2 class="heading-secondary heading-secondary-popup u-margin-bottom-small">Valea Crapaturii din Piatra Craiului</h2>
            <h3 class="heading-tertiary">ITINERARIU:</h3>
            <p class="popup__text">
                
                05:45 ne întâlnim la Hotel Horoscop - Piața Unirii. 06:00 se învârte roata spre Zărnești, de unde începe traseul nostru.
                Detalii traseu: Plecăm din Zărnești pe la poalele Pietrei Mici și urcăm încet până când intrăm pe poteca ce duce prin Valea Crăpăturii.Vom urca prin zona de grohotiș, vom admira pereții de stancă și după ce urcăm mai mult de jumătare din vale ajungem în dreptul Acului Crăpăturii (o bijuterie naturală).Continuăm urcarea până în Șaua Crăpăturii și de la zona “la balcon” vom admira întreaga Creastă a Pietrei Craiului.
            </p>
            <h3 class="heading-tertiary">ECHIPAMENT:</h3>
            <p class="popup__text">bocanci 3 sezoane, pantaloni drumetie, jacheta impermeabila, recomandat imbracarea in 3 straturi (tricou/polar/jacheta), buff/sapca, rucsac de tura, apa minim 1,5l (pe traseu nu avem surse de apa) si gustari pentru tura, haine de schimb, trusa prim ajutor, frontala
            </p>
            <a href="#" class="btn btn--green">Ma inscriu!</a>
        </div>
    </div>
</div>
<div class="popup" id="popup-3">
    <div class="popup__content">
        <div class="popup__left">
            <img src="assets/img/drumetii-3.jpg" alt="Tour photo" class="popup__img">
            <img src="assets/img/drumetii-3-2.jpg" alt="Tour photo" class="popup__img">
        </div>
        <div class="popup__right">
            <a href="#section-tours" class="popup__close">&times;</a>
            <h2 class="heading-secondary heading-secondary-popup u-margin-bottom-small">Vara Pitoreasca la Fundata & Fundatica</h2>
            <h3 class="heading-tertiary">ITINERARIU:</h3>
            <p class="popup__text">
                
                05:45 ne întâlnim la Hotel Horoscop - Piața Unirii
                06:00 se învârte roata spre Fundata, de unde începe traseul nostru.
                De data aceasta, vom merge în satele pitorești de munte: Fundata și Fundățica, pentru a admira peisajul extrem de ofertant și pitoresc.
                Traseul este spectaculos, presărat cu numeroase căpițe și clăi de fân, dar și cu gospodăriile oamenilor și vom admira culmile armonios reliefate din împrejurimi.
                În această perioadă de August, fugim de căldura sufocantă a orașului și ne găsim liniștea în munți, unde peisajele ne încântă cu frumusețea lor, iar crestele munților vor creiona peisajul ideal pentru a ne petrece timpul în astfel de locuri
            </p>
            <h3 class="heading-tertiary">ECHIPAMENT:</h3>
                <p class="popup__text">Bocanci, Mască sanitară pt autocar, Pelerină de ploaie, Trusă medicală proprie,  Mâncare și apă pentru o tură de 1 zi. Detalii Tehnice: Traseul durează aproximativ 5-6 h.
                Dificultate traseu: lejer.
            </p>
            <a href="#" class="btn btn--green">Ma inscriu!</a>
        </div>
    </div>
</div>
