<footer class="footer">
  <div class="footer__logo-box">
    <img class="footer__logo" alt="full logo" src="assets/img/logo-white.png" />
  </div>
  <div class="row">
    <div class="col-1-of-2">
      <div class="footer__navigation">
        <ul class="footer__list">
          <li class="footer__item">
            <a href="#" class="footer__link">Despre mine</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Contact</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Evenimente</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Privacy policy</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Terms</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-1-of-2">
      <p class="footer__copyright">
        Copyright &copy; 2021 by
        <a href="http://www.alinacosta.ro" class="footer__link">Alina Costa</a>.
        All rights reserved.
      </p>
    </div>
  </div>
</footer>
