<section class="section-about">
  <div class="u-center-text u-margin-bottom-big">
    <h2 class="heading-secondary">Vrei sa ne cunoastem mai bine?</h2>
  </div>
  <div class="row">
    <div class="col-1-of-2">
      <h3 class="heading-tertiary u-margin-top-small u-margin-bottom-small">
        Salut! Sunt Mihai Cristea si vreau sa ne cunoastem mai bine, mai ales
        prin intermediul drumetiilor!
      </h3>
      <p class="paragraph">
        Mie îmi vine foarte lejer să organizez drumeții, pentru că asta e o
        activitate care îmi place foarte mult! Mai ales când știu că nu mă bucur
        doar eu de aceste minunate locuri din Carpații Românești.
      </p>
      <h3 class="heading-tertiary u-margin-top-small u-margin-bottom-small">
        Sunt fondatorul comunitatii in drumetie
      </h3>
      <p class="paragraph">
        Am absolvit Facultatea de Geografie și am obținut în paralel și
        atestatul de Ghid de turism, Ghid Național și ultima specializare, cea
        de Ghid Montan. Am scris trei cărți până acum: Fabrica de sclavi – Ceea
        ce școala nu te învață niciodată; Pași înspre necunoscut și Ingrediente
        pentru o drumeție reușită – ghid de buzunar.
      </p>

      <a href="#" class="btn-text">Mai mult &rarr;</a>
    </div>
    <div class="col-1-of-2">
      <div class="composition">
        <!-- 900px = 56.25em and 600px = 37.5em -->
        <img
          srcset="assets/img/profil-1.jpg 300w, assets/img/profil-1.jpg 1000w"
          sizes="(max-width:56.25em) 20vw, (max-width:37.5em) 30vw, 300px"
          alt="Photo 1"
          class="composition__photo composition__photo--p1"
          src="assets/img/profil-1.jpg"
        />

        <img
          srcset="
            ../../../assets/img/profil-2.jpg  300w,
            ../../../assets/img/profil-2.jpg 1000w
          "
          sizes="(max-width:56.25em) 20vw, (max-width:37.5em) 30vw, 300px"
          alt="Photo 2"
          class="composition__photo composition__photo--p2"
          src="../../../assets/img/profil-2.jpg"
        />

        <img
          srcset="
            ../../../assets/img/profil-3.jpg  300w,
            ../../../assets/img/profil-3.jpg 1000w
          "
          sizes="(max-width:56.25em) 20vw, (max-width:37.5em) 30vw, 300px"
          alt="Photo 3"
          class="composition__photo composition__photo--p3"
          src="../../../assets/img/profil-3.jpg"
        />

        <!-- <img src="img/nat-1-large.jpg" alt="Photo 1" class="composition__photo composition__photo--p1">
                <img src="img/nat-2-large.jpg" alt="Photo 2" class="composition__photo composition__photo--p2">
                <img src="img/nat-3-large.jpg" alt="Photo 3" class="composition__photo composition__photo--p3"> -->
      </div>
    </div>
  </div>
</section>
