<section class="section-stories">
    <!-- <div class="bg-video">
        <video class="bg-video__content" autoplay muted loop> 
            <source src="img/video.mp4" type="video/mp4">
            <source src="img/video.webm" type="video/webm">
            Your browser is not supported!
        </video>
    </div> -->
    <div class="u-center-text u-margin-bottom-big">
        <h2 class="heading-secondary heading-secondary-story">
            Drumeti cu bateriile incarcate 😃
        </h2>
    </div>

    <div class="row">
        <div class="story">
            <figure class="story__shape">
                <img src="assets/img/drumet-1.jpg" alt="Person on a tour" class="story__img">
                <figcaption class="story__caption">Oana Becheru</figcaption>
            </figure>
            <div class="story__text">
                <h3 class="heading-tertiary u-margin-bottom-small">
                    Recomand cu drag!
                </h3>
                <p>Astazi am ajuns la cea de-a saptea drumetie cu "In drumetie" 😉. Toate minunate. Privelisti incantatoare si multi prieteni noi. Atmosfera super! Bine ma'! 💕</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="story">
            <figure class="story__shape">
                <img src="assets/img/drumet-2.jpg" alt="Person on a tour" class="story__img">
                <figcaption class="story__caption">Dragos Dianu</figcaption>
            </figure>
            <div class="story__text">
                <h3 class="heading-tertiary u-margin-bottom-small">
                    Primul traseu montan si inceputul unei noi pasiuni
                </h3>
                <p>A fost o experianta de neuitat. Un traseu usor dar relativ plin de emotie pentru mine. O poveste de neuitat in jurul unui munte. Glumele, oamenii, dar si, in special, organizatorii, au facut ca acest traseu sa fie unul usor de parcurs pentru un incepator.</p>
            </div>
        </div>
    </div>
    <!-- <div class="u-center-text u-margin-top-huge">
        <a href="#" class="btn-text btn-text-story">Citeste mai mult &rarr;</a>
    </div> -->
</section>
