<section class="section-features">
  <div class="u-center-text u-margin-bottom-big">
    <h2 class="heading-secondary heading-secondary-ghid">Ghid de buzunar</h2>
  </div>

  <div class="row">
    <div class="col-1-of-3">
      <div class="feature-box">
        <i class="feature-box__icon fas fa-mountain"></i>
        <h3 class="heading-tertiary u-margin-bottom-small">Partea Tehnica</h3>
        <ul class="feature-box__text">
          <li>Echipamentul</li>
          <li>Alimentația și hidratarea în drumeție</li>
          <li>Semnificația marcajelor montane</li>
          <li>Responsabilitățile ghidului</li>
          <li>Calitățile pe care ar trebui să le aibă un ghid</li>
          <li>Ghidul nu are voie să greșească</li>
          <!-- <li>Relația ghidului cu turiștii săi</li> -->
        </ul>
        <!-- <p class="feature-box__text">-Echipamentul<br>-Alimentația și hidratarea în drumeție<br>-Semnificația marcajelor montane</p> -->
      </div>
    </div>
    <div class="col-1-of-3">
      <div class="feature-box">
        <i class="feature-box__icon fas fa-paw"></i>
        <h3 class="heading-tertiary u-margin-bottom-small">
          Pericole pe munte
        </h3>
        <ul class="feature-box__text">
          <li>Întâlnire de gradul 0 cu ursul</li>
          <li>Ursul, fiară neîmblânzită sau patrimoniu național?</li>
          <li>Câinii de stână - realul pericol</li>
          <li>Despre avalanșe</li>
          <li>Despre fulgere</li>
          <li>Estimarea greșită a timpului</li>
        </ul>
        <!-- <p class="feature-box__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente rerum minus mollitia eos odio impedit.</p> -->
      </div>
    </div>
    <div class="col-1-of-3">
      <div class="feature-box">
        <i class="feature-box__icon fas fa-route"></i>
        <h3 class="heading-tertiary u-margin-bottom-small">
          Noțiuni de bază în orientare
        </h3>
        <ul class="feature-box__text">
          <li>Ce faci dacă te rătăcești?</li>
          <li>Cum aflăm direcția Nord-Sud pe timp de zi</li>
          <li>Cum aflăm direcția Nord-Sud pe timp de noapte</li>
          <li>Cum aflăm direcția Est-Vest pe timp de zi</li>
          <!-- <li>Cum aflăm direcția Est-Vest pe timp de noapte</li> -->
        </ul>
        <!-- <p class="feature-box__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente rerum minus mollitia eos odio impedit.</p> -->
      </div>
    </div>
    <!-- <div class="col-1-of-4">
            <div class="feature-box">
                <i class="feature-box__icon icon-basic-heart"></i>
                <h3 class="heading-tertiary u-margin-bottom-small">Live a healthier life</h3>
                <p class="feature-box__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente rerum minus mollitia eos odio impedit.</p>
            </div>
        </div>                                                             -->
  </div>
</section>
