<section class="section-book">
    <div class="row">
        <div class="book">
            <div class="book__form">
                <form action="#" class="form">
                    <div class="u-margin-bottom-small">
                        <h2 class="heading-secondary">
                            Hai si tu!
                        </h2>
                    </div>
                    <legend class="legend">Îmi poți lăsa un email sau poți lua legătura cu mine prin telefon: +40721783962</legend>
                    <div class="form__group">
                        <input type="text" class="form__input" placeholder="Nume" id="name" required>
                        <label for="name" class="form__label">Name</label>
                    </div>
                    <div class="form__group">
                        <input type="email" class="form__input" placeholder="Email" id="email" required>
                        <label for="email" class="form__label">Email</label>
                    </div>
                    <div class="form__group">
                        <input type="text" class="form__input" placeholder="Telefon" id="phone" required>
                        <label for="phone" class="form__label">Telefon</label>
                    </div>
                    <div class="form__group">
                        <textarea name="message" class="form__input" rows="3" cols="3" placeholder="Mesaj" id="message" required></textarea>
                        <label for="message" class="form__label">Mesaj</label>
                    </div>
                    <!-- <div class="form__group u-margin-bottom-medium">
                        <div class="form__radio-group">
                            <input type="radio" class="form__radio-input" id="small" name="size">
                            <label for="small" class="form__radio-label">
                                <span class="form__radio-button"></span>
                                 Small tour group
                            </label>
                        </div>
                        <div class="form__radio-group">
                            <input type="radio" class="form__radio-input" id="large" name="size">
                            <label for="large" class="form__radio-label">
                                <span class="form__radio-button"></span>
                                Large tour group
                            </label>
                        </div>
                    </div> -->
                    <div class="form__group">
                        <button class="btn btn--blue">Trimite &rarr;</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
